<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../../skyui/SkyUI.css"/>
<script type="text/javascript" src="../../skyui/SkyUI.all.js"></script>
<title>无标题文档</title>
<style>
html,body{ height:100%;}
</style>
</head>

<body>
<div id="layout1">
</div>
</body>
</html>
<script>
	var layout=new sky.layout.BorderLayout({'west':{'title':"主要菜单",'width':250},'east':{'title':"右菜单",'width':250}});
    var body=new sky.Container(document.body);
    body.add(layout);
    var layout2=new sky.layout.BorderLayout({'west':{'title':"主要菜单",'width':250},'east':{'title':"右菜单",'width':250}});
    layout.center.add(layout2);
</script>
