
.clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.clearfix{*zoom:1;}

@font-face {
	font-family:FontAwesome; -webkit-text-size-adjust:none;
	src:url('http://libs.baidu.com/fontawesome/4.2.0/fonts/fontawesome-webfont.eot');
	src:url('http://libs.baidu.com/fontawesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('http://libs.baidu.com/fontawesome/4.2.0/fonts/fontawesome-webfont.woff') format('woff'), url('http://libs.baidu.com/fontawesome/4.2.0/fonts/fontawesome-webfont.ttf') format('truetype'), url('http://libs.baidu.com/fontawesome/4.2.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
.fa{
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}